@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@font-face {
	font-family: 'Aleo';
	src: local('Aleo Regular'), local('Aleo-Regular'),
	url('../fonts/Aleo-Regular.woff2') format('woff2'),
	url('../fonts/Aleo-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



body{
	background: #fff;
	color: #fff;
	padding: 15px;
	font: 400 22px/1.3 'Josefin Sans', sans-serif;
	margin: 0 auto;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1158px;
	margin: 0 auto;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-section-header{
	background: url("../img/bg1.jpg");
	background-size: cover;
}

.ba-pre-header{
	padding-top: 228px;
	text-align: center;
}

.ba-pre-header h1{
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.063em;
	margin-bottom: 0;
}

.ba-pre-header__text{
	font-size: 22px;
	margin-top: -3px;
	letter-spacing: 0.24em;
}

.ba-search-form{
	padding-top: 22px;
	display: flex;
	justify-content: center;
	padding-bottom: 120px;
}

.ba-search-form input{
	width: 500px;
	height: 60px;
	text-align: center;
	color:  #999999;
	font-size: 14px;
	letter-spacing: 0.123em;
}

.ba-search-form button{
	width: 150px;
	height: 60px;
	border-width: 2px;
	border-color:  #ffffff;
	border-style: solid;
	background-color:  #5474fd;
	align-items: center;
}

.ba-search-form span{
	font: 400 14px/1 Aleo, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-left: 8px;

}

.ba-search-form button>svg{
	position: relative;
	top: 5px;
	left: 7px;
}

.ba-scroll p{
	font-size: 14px;
	margin: 0;
	letter-spacing: 0.15em;
	margin-bottom: -3px;
}

.ba-scroll{
	padding-bottom: 125px;
}

.bg-header{
	background-color:  #5474fd;
	padding-top: 6px;
}

header{
	display: flex;
	justify-content: space-between;
	padding-bottom: 3px;
}

header h2{
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.05em;

}

header li{
	list-style-type: none;
	display: inline-block;
	padding-right: 5px;
}

header li + li{
	padding-left: 30px;
}

header li>a{
	text-decoration: none;
	color: #fff;
	font-family: Aleo;
	font-size: 14px;
	font-weight: 400;
}

/*section2*/

.ba-choose{
	background: url("../img/bg2.jpg");
	background-size: cover;
	display: flex;
	padding-top: 165px;
	padding-left: 3px;
	padding-bottom: 62px;
}

.ba-choose__headline{
	font-family: Aleo;
	font-size: 36px;
	font-weight: 400;
}

.ba-choose__text{
	color:  #e8e8e8;
	font-size: 16px;
	width: 533px;
	padding-top: 26px;
	letter-spacing: 0.035em;
	line-height: 25px;
}

.ba-choose__text2{
	padding-top: 12px;
	padding-bottom: 26px;
}

.ba-choose__button{
	background: #5474fd;;
	width: 225px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.ba-choose__button a{
	color: #fff;
	text-decoration: none;
	font-family: Aleo;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.ba-choose__halupa{
	position: relative;
	bottom: 45px;
	left: 62px;
}

.ba-choose__gora{
	position: relative;
	bottom: 49px;
	left: 187px;
}

/*sdfsd*/

.ba-between-section{
	position: relative;
	background: #333;
	padding-bottom: 70px;

}
.ba-ellipse{
	position: absolute;
	left: 272px;
	top: 46px;
}

.ba-image{
	display: flex;

}

.ba-image div{
	padding-left: 215px;
	padding-top: 80px;
}

.ba-image div + div{
	padding-left: 240px;
}

.ba-image p{
	font-family: Aleo;
	color:  #e8e8e8;
	font-size: 36px;
	margin-left: -100px;
}

/*sdsdsd*/


.ba-apartament{
	background: url("../img/bg3.jpg");
	background-size: cover;
	padding-top: 229px;
	padding-bottom: 100px;

}

.ba-apartament__bl{
	background-color:  rgba(35, 35, 35, 0.9);
	width: 540px;
	height: 371px;
	padding-left: 30px;
	padding-top: 24px;
	color:  #e8e8e8;
}

ba-apartament__spain{
	font-size: 16px;
}

.ba-apartament__bl h3{
	color:  #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}

.ba-apartament__text{
	padding-top: 1px;
	font-size: 16px;
	letter-spacing: -0.06em;
	line-height: 25px;
	padding-bottom: 27px;
}

.ba-everest{
	background: url("../img/bg4.jpg");
	background-size: cover;
	padding-top: 229px;
	padding-bottom: 100px;
}

.ba-everest__end{
	display: flex;
	justify-content: flex-end;
	padding-right: 7px;
}

.ba-paren{
	background: url("../img/bg5.jpg");
	background-size: cover;
	padding-top: 163px;

}

.ba-paren h3{
	text-align: center;
}

.ba-paren__art{
	display: flex;
}